@import "./config/_reset";
@import "./config/_variable";

@import "./components/header";
@import "./components/footer";
@import "./components/video";
@import "./components/shared";
@import "./components/forms";
@import "./components/social-login";

@import "./screens/home";
@import "./screens/search";
@import "./screens/profile";
@import "./screens/edit-profile";
@import "./screens/upload";
@import "./screens/watch";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    font-family: 'Jua', sans-serif;
}

body{
    background-color: $bg;
    color: whitesmoke;
}

main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

@keyframes goAway {
    from{
        transform: none;
        opacity: 1;
    }
    to{
        transform: translateY(-50px);
        opacity: 0;
    }
}

.message{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px 20px;
    border-radius: 10000px;
    text-align: center;
    animation: goAway .5s ease-in-out forwards;
    animation-delay: 5s;
    &.error{
      background-color: tomato;
      color: white;  
    }
}