form{
    max-width: 420px;
    margin:0 auto;
    padding: 20px;
    background-color: rgba($color: #5e5e5e, $alpha: 0.2);
    border-radius: 7px;
}

input:not(input[type="range"]),
input:not(input[type="submit"]){
    all:unset;
    padding:5px 20px;
    border-radius: 6px;
    border:3px dashed rgb(151, 150, 150);
    font-size: 16px;
    margin-bottom: 10px;
    width: 90%;
    &::placeholder{
        color:rgb(230, 230, 230)
    }
}

input[type="submit"],
.social-login,
.social__btn{
    padding: 12px 20px;
    background-color: rgb(199, 159, 152);
    color: rgba($color: rgb(228, 204, 200), $alpha: 1.0) !important;
    text-align: center !important;
    cursor: pointer;
    display: block;
    border: none;
    &:focus{
        outline: none;
    }
    &:disabled{
        opacity: 0.5;
        pointer-events: none;
    }
}
