extends partials/base
include mixins/video

block content 
    form(method="get").search__form
        input(type="text", name="keyword", placeholder="Insert term")
        button
            i.fas.fa-search
    div.video-grid
        each video in videos 
            +video(video)
        else
            span.empty__message 검색한 비디오가 존재하지 않습니다.