extends partials/base

block content
    div.upload__container
        div.upload__video
            video#preview
            button#actionBtn.social__btn 녹화하기
    if errorMsg
        h3=errorMsg
    form(method="post", enctype="multipart/form-data")
        label(for="video") Video File 
        input(type="file", name="video", accept="video/*", id="video", required)
        
        label(for="thumb") Thumbnail File 
        input(type="file", name="thumb", accept="image/*", id="thumb", required)

        input(name="title" type="text" placeholder="Insert Title", maxlength=80, required) 
        input(name="description" type="text" placeholder="Insert Description", minlength=20, required) 
        input(name="hashtags" type="text" placeholder="해시태크는 쉼표(,)로 나눠주세요.", style="width: 300px;", required) 
        input(type="submit", value="Save")  

block scripts
    script(src="/static/js/recorder.js") 