head
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="shortcut icon", href="logo/favicon_C.ico", type="image/x-icon")
    link(rel="icon" href="logo/favicon_C.ico")