extends ../partials/base

block content
    form(method="post") 
        input(type="text", placeholder="Old Password")
        input(type="text", placeholder="New Password")
        input(type="text", placeholder="New Password Confirmation")
        input(type="submit", value="비밀번호 변경")